<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vue 测试实例 - 菜鸟教程(runoob.com) v-bind 指令被用来响应地更新 HTML 属性 </title>
</head>
<style>
  .bgclass {
    background: yellow;
    color: red;
  }
</style>

<body>
  <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>

  <div id="app">
    <label for="r1">修改颜色</label>
    <input type="checkbox" v-model="isbgclass" id="r1">
    <br><br>
    <p>{{isbgclass}}</p>
    <div v-bind:class="{'bgclass': isbgclass}">
      directiva v-bind:class
    </div>


    <ol>
      <todo-item v-for="item in keysarr">
        {{item}}
      </todo-item>
    </ol>

    <button v-on:click="definePropertyTest()">
      definePropertyTest
  </button>


  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        isbgclass: false,
        keysarr: Object.keys({ 'key1': '1key1', 'key2': '2key2' })
      },
      methods: {
        definePropertyTest: function () {
          let requestConfig = {
            credentials: 'include',
            method: 'GET',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            mode: "cors",
            cache: "force-cache"
          }

          // alert('kkk');
          Object.defineProperty(requestConfig, 'body', {
            value: JSON.stringify({ 'key1': '1key1', 'key2': '2key2' })
          })


          alert(requestConfig.headers.Accept);
        }

      }
    });
  </script>
</body>

</html>