<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
</head>
<body>
    <div id="computed_props">
        千米：<input type="text" v-model="kilometers">
        米：<input type="text" v-model="meters">
    </div>
    <p id="info"></p>
    <script type="text/javascript">
        var vm = new Vue({
            el:'#computed_props',
            data:{
                kilometers:0,
                meters:0,
            },
            methods:{

            },
            computed:{

            },
            watch:{
                kilometers:function (val) {
                    this.kilometers = val;
                    this.meters = val*1000;

                },
                meters:function (val) {
                    this.kilometers = val/1000;
                    this.meters = val;
                }
            }

        });
        vm.$watch('kilometers',function (newValue,oldValue) {
            document.getElementById('info').innerHTML = '修改前值'+ oldValue + "，修改后值为: " + newValue;;
        })

    </script>
    <br>
    <div id="watch-example">
        <p>
        Ask a yes/no question:
        <input v-model="question">
        </p>
        <p>{{ answer }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script>
        var watchExampleVM = new Vue({
            el:"#watch-example",
            data:{
                question:'',
                answer:'你说啥？'
            },
            watch:{
                question:function(newQuestion,oldQuestion){
                    this.answer = '等会。。。'
                    this.debouncedGetAnswer()
                }
            },
            created:function() {
                this.debouncedGetAnswer = _.debounce(this.getAnswer,500)
            },
            methods:{
                getAnswer:function(){
                    if(this.question.indexOf('?') === -1){
                        this.answer = '没有答案'
                        return
                    }
                    this.answer = "思考中。。。"
                    var vm = this 
                    axios.get('https://yesno.wtf/api')
                        .then(function(response){
                            vm.answer = _.capitalize(response.data.answer)
                        }).catch(function(err){
                            vm.answer = '戳错了' + err
                        });
                }
            }
        })
    
    </script>



</body>
</html>