<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件</title>
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
    <script src="../vue/vue.js"></script>
</head>
<body>

    <div id="components-button-demo">
        <button-counter></button-counter>
    </div>
    <script>
        new Vue({
            el:"#components-button-demo",
        })
    </script>

    <div id="props">
        <!-- <blog-post title="My journey with Vue" subtitle="subtitle"></blog-post>
        <blog-post title="Blogging with Vue" subtitle="subtitle"></blog-post>
        <blog-post title="Why Vue is so fun" subtitle="subtitle"></blog-post> -->
        <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:id="post.id" v-bind:title="post.title" v-bind:subtitle="post.subtitle"></blog-post>  
    </div>
    <script>
        new Vue({
            el:'#props',
            data:{
                posts:[
                { id: 1, title: 'My journey with Vue' ,subtitle:'sub1'},
                { id: 2, title: 'Blogging with Vue' ,subtitle:"sub1"},
                { id: "3", title: 'Why Vue is so fun' ,subtitle:"sub1"} 
                ]
            }
        })
    </script>

    <!-- 优化上面的代码，当绑定多值较多时需要注意的地方。 -->
    <div id="blogpost">
        <post-blog v-for="post in posts" v-bind:key="post.id" v-bind:post="post" ></post-blog>  
    </div>
    <script>
        new Vue({
            el:'#blogpost',
            data:{
                posts:[
                { 
                id: 1, title: 'My journey with Vue' ,subtitle:'sub1',content:'<h1>button</h1>'},
                // { id: 2, title: 'Blogging with Vue' ,subtitle:"sub1"},
                // { id: "3", title: 'Why Vue is so fun' ,subtitle:"sub1"} 
                ]
            }
        })
    </script>

    
    <div v-bind:style="{fontSize:postFontSize+'em'}" id="emit-id">
        <emit-post v-for="post in posts" v-bind:post="post" v-on:enlarge-text="postFontSize += 0.5">
        </emit-post>
    </div>

    <script>
        new Vue({
            el:"#emit-id",
            data:{
                posts:[
                {id: 1, title: 'My journey with Vue' ,subtitle:'sub1'},
                {id: 1, title: 'My journey with Vue' ,subtitle:'sub1'},
                ],
                postFontSize:"1.5"
            }
        })
    </script>

    <div id="custominput"> 
        <custom-input v-model="searchText">
            
        </custom-input>
    </div>

    <div id="alert">
        <alert-box>
            something bad happened.
        </alert-box>
    </div>
    <script>
        new Vue({
            el:'#alert'
        })
    </script>



    <div id="app">
        <!--<runoob>-->

        <!--</runoob>-->
        <!--<child message="hello!"></child>-->
        <!--<div>-->
            <!--<input v-model="parentMsg">-->
            <!--<br>-->
            <!--<child v-bind:message="parentMsg"></child>-->
        <!--</div>-->
        <ol>
            <todo-item v-for="item in sites" v-bind:todo="item">

            </todo-item>
        </ol>
    </div>
    
    <script>
        //全局组件
        // Vue.component('runoob',{
        //     template:'<h1> 自定义全局组件</h1>'
        // })
        // new Vue({
        //     el:'#app'
        // })
        //局部组件
        // var Child = {
        //     template:'<h1> 自定义局部组件</h1>'
        // }
        // new Vue({
        //     el:'#app',
        //     components:{
        //         'runoob':Child
        //     }
        // })

        //Prop
        // Vue.component('child',{
        //     props:['message'],
        //     template:'<span>{{message}}</span>'
        // })
        //
        // new Vue({
        //     el:'#app',
        //     data:{
        //         parentMsg:'父组件内容'
        //     }
        // })
        Vue.component('todo-item',{
            props:['todo'],
            template:'<li>{{todo.text}}</li>'
        })
        new Vue({
            el:'#app',
            data:{
                sites:[
                    {text:'Runoob'},
                    {text:'Google'},
                    {text:'Taobao'},
                ]
            }
        })
    </script>


    <script>
        var ComponentA = {

        }
        var ComponentC = {

}
        var ComponentB = {
            components:{
                'component-a':ComponentA,
                'component-c':ComponentC,
            }
        }
        
    
    </script>
    <div id="modeltest">
        <base-checkbox v-model="lovingVue">

        </base-checkbox>
    </div>
    <script>
        new Vue({
            el:'#modeltest'
        })
    </script>

    <div class="app3">
        <my-component></my-component>
        <common></common>
    </div>
    <!-- type="x-template" 是为了不让这个script进行解析  -->
    <!-- 用script标签名的方式 -->
     <!-- <script id="component1" type="x-template">
            <h3>第一个局部组件——定义方式1</h3>
    </script>
    用 template标签名的方式  推荐
    <template id="component2">
        <p>第二个局部组件——定义方式2</p>
    </template>  -->
    <script>
        var Child3 = {
            template:'#component1'
        };
        var common = {
            template: '#component2'
        }
        var vm = new Vue({
            el: '.app3',
            components: {
                // <my-component> 将只在父模板可用
                myComponent: Child3,
                common //如果组件定义的名字和在html显示的标签名一致就可以省略
            }
        });
    </script>
        
</body>
</html>

var vm = new Vue({
    // 数据
    data: "声明需要响应式绑定的数据对象",
    props: "接收来自父组件的数据",
    propsData: "创建实例时手动传递props，方便测试props",
    computed: "计算属性",
    methods: "定义可以通过vm对象访问的方法",
    watch: "Vue实例化时会调用$watch()方法遍历watch对象的每个属性",
    // DOM
    el: "将页面上已存在的DOM元素作为Vue实例的挂载目标",
    template: "可以替换挂载元素的字符串模板",
    render: "渲染函数，字符串模板的替代方案",
    renderError: "仅用于开发环境，在render()出现错误时，提供另外的渲染输出",
    // 生命周期钩子
    beforeCreate: "发生在Vue实例初始化之后，data observer和event/watcher事件被配置之前",
    created: "发生在Vue实例初始化以及data observer和event/watcher事件被配置之后",
    beforeMount: "挂载开始之前被调用，此时render()首次被调用",
    mounted: "el被新建的vm.$el替换，并挂载到实例上之后调用",
    beforeUpdate: "数据更新时调用，发生在虚拟DOM重新渲染和打补丁之前",
    updated: "数据更改导致虚拟DOM重新渲染和打补丁之后被调用",
    activated: "keep-alive组件激活时调用",
    deactivated: "keep-alive组件停用时调用",
    beforeDestroy: "实例销毁之前调用，Vue实例依然可用",
    destroyed: "Vue实例销毁后调用，事件监听和子实例全部被移除，释放系统资源",
    // 资源
    directives: "包含Vue实例可用指令的哈希表",
    filters: "包含Vue实例可用过滤器的哈希表",
    components: "包含Vue实例可用组件的哈希表",
    // 组合
    parent: "指定当前实例的父实例，子实例用this.$parent访问父实例，父实例通过$children数组访问子实例",
    mixins: "将属性混入Vue实例对象，并在Vue自身实例对象的属性被调用之前得到执行",
    extends: "用于声明继承另一个组件，从而无需使用Vue.extend，便于扩展单文件组件",
    provide&inject: "2个属性需要一起使用，用来向所有子组件注入依赖，类似于React的Context",
    // 其它
    name: "允许组件递归调用自身，便于调试时显示更加友好的警告信息",
    delimiters: "改变模板字符串的风格，默认为{{}}",
    functional: "让组件无状态(没有data)和无实例(没有this上下文)",
    model: "允许自定义组件使用v-model时定制prop和event",
    inheritAttrs: "默认情况下，父作用域的非props属性绑定会应用在子组件的根元素上。当编写嵌套有其它组件或元素的组件时，可以将该属性设置为false关闭这些默认行为",
    comments: "设为true时会保留并且渲染模板中的HTML注释"
  });
  
  